/***********************************************************************************************************************
 * IACS Management System
 * ORT BRAUDE COLLEGE OF ENGINEERING
 * Information System Engineering - Final Project
 * Students: Ron Dadon, Guy Franco
 * Project adviser: PhD Miri Weiss-Cohen
 **********************************************************************************************************************/

/***********************************************************************************************************************
 * Side menu
 **********************************************************************************************************************/

#side-menu {
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
    width: 200px;
    background: #222222;
    border-left: solid 5px #204d74;
    /* border-top: solid 5px #204d74; */
}

#side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#side-menu ul li a {
    width: 100%;
    color: #aaaaaa;
    padding: 15px;
    text-decoration: none;
    background: linear-gradient(to left, transparent 50%, #204d74 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    display: block;
    transition: background .25s, color .25s;
}

#side-menu ul li.active > a {
    color: #ffffff;
    background: #204d74;
    text-decoration: none;
}

#side-menu ul li a:hover
{
    color: #ffffff;
    background-position:left bottom;
    text-decoration: none;
    transition: background .25s, color .25s;
}

#side-menu ul li.active > span.arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    /*border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #ffffff;*/
}

/***********************************************************************************************************************
 * Bootstrap fixes
 **********************************************************************************************************************/

/* Mobile */
@media (max-width: 767px) {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }
    .page-head > h1 {
        font-size: 16pt !important;
    }
}

/* Desktop */
@media (min-width: 768px)
{
    body {
        padding-left: 200px;
    }

    #login-container {
        margin-left: -200px;
    }
}

/* Global */

body {
    padding-top: 115px;
    font-size: 16px;
}

body.dark {
	background: #202023;
	background: -moz-radial-gradient(center, ellipse cover,  #202023 0%, #000000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#202023), color-stop(100%,#000000));
	background: -webkit-radial-gradient(center, ellipse cover,  #202023 0%,#000000 100%);
	background: -o-radial-gradient(center, ellipse cover,  #202023 0%,#000000 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #202023 0%,#000000 100%);
	background: radial-gradient(ellipse at center,  #202023 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202023', endColorstr='#000000',GradientType=1 );
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

label {
    font-weight: normal;
}

.btn {
    font-size: 16px;
}

.alert > h4 {
    font-weight: 700;
}

.alert {
    background: #f3f3f3;
    border: none;
}

.alert.alert-danger {
    border-left: solid 5px #ac2925 !important;
}

.alert.alert-success {
    border-left: solid 5px #009933 !important;
}

.alert.alert-info {
    border-left: solid 5px #204d74 !important;
}

.alert.alert-warning {
    border-left: solid 5px #ee8822 !important;
}

.page-header {
    margin-top: 2px;
    border-bottom: solid 2px #333333;
}

.panel-heading {
    color: #ffffff !important;
}

.panel.panel-primary {
    border-color: #204d74;
}

.panel.panel-primary > .panel-heading {
    background: #204d74;
}

.panel.panel-success {
    border-color: #009933;
}

.panel.panel-success > .panel-heading {
    background: #009933;
}

.panel.panel-danger {
    border-color: #ac2925;
}

.panel.panel-danger > .panel-heading {
    background: #ac2925;
}

.panel.panel-warning {
    border-color: #ee8822;
}

.panel.panel-warning > .panel-heading {
    background: #ee8822;
}

.navbar-brand {
    padding: 5px;
}

.navbar-inverse {
    border-bottom: none;
}

.navbar-inverse .navbar-nav > li.active > a {
    background: #204d74;
}

.navbar-inverse .navbar-nav > li:hover > a,
.navbar-inverse .navbar-nav > li.active:hover > a{
    background: #204d74;
    transition: background .25s, color .25s;
}

.navbar-inverse .navbar-nav > li.danger:hover > a {
    background: #ac2925;
    transition: background .25s, color .25s;
}

.modal .modal-dialog .modal-content .modal-header.bg-danger {
    background: #ac2925;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-header.bg-primary {
    background: #204d74;
    color: #ffffff;
}

.modal .modal-dialog .modal-content .modal-header.bg-warning {
    background: #ee8822;
    color: #ffffff;
}

.modal .modal-dialog .modal-content .modal-header.bg-success {
    background: #009933;
    color: #ffffff;
}

.modal .modal-dialog .modal-content .modal-header.bg-danger,
.modal .modal-dialog .modal-content .modal-header.bg-primary,
.modal .modal-dialog .modal-content .modal-header.bg-warning,
.modal .modal-dialog .modal-content .modal-header.bg-success {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal.modal-success > .modal-dialog > .modal-content > .modal-header {
    background: #009933;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal.modal-danger > .modal-dialog > .modal-content > .modal-header {
    background: #ac2925;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal.modal-primary > .modal-dialog > .modal-content > .modal-header {
    background: #204d74;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.input-group-btn > .btn {
    font-size: 14px !important;
}

/***********************************************************************************************************************
 * Bootgrid fixes
 **********************************************************************************************************************/

.bootgrid-table thead {
    background: #dddddd;
}

.bootgrid-table th:hover {
    background: #eeeeee;
}

.bootgrid-table tbody tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

/***********************************************************************************************************************
 * Added classes
 **********************************************************************************************************************/

.form-control-static {
    border-bottom: solid 1px #333333;
}

.bg-main {
    background: #204d74;
    color: #ffffff;
}

.bg-error {
    background: #ac2925;
    color: #ffffff;
}

.bg-notice {
    background: #ee8822;
    color: #ffffff;
}

.invisible {
    opacity: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}

.padded-5px {
    padding: 5px;
}

.no-pointer {
    cursor: default;
}

.page-head {
    width: 100%;
    top: 50px;
    padding: 5px;
    position: fixed;
    z-index: 1029;
}

.page-head.bg-main {
    border-bottom: solid 3px #204d74;
}

.page-head.bg-error {
    border-bottom: solid 3px #ac2925;
}

.page-head.bg-notice {
    border-bottom: solid 3px #ee8822;
}

.btn-big {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5px 0;
}

/* Mobile */
@media (max-width: 767px) {
    .page-head {
        left: 0;
    }
}

/* Desktop */
@media (min-width: 768px)
{
    .page-head {
        left: 200px;
    }
}

#client-map > iframe {
    pointer-events: none;
}