/* Bootstrap fixes */

body {
    padding-top: 54px;
}

.breadcrumb {
    margin-bottom: 10px;
    border-bottom: solid 1px #eeeeee;
}

.alert {
    margin: 0;
}

.alert .media .media-body > p {
    margin-bottom: 0;
}

.panel .panel-heading > h3, .panel .panel-heading > h4 {
    margin: 0;
}

.modal-header.bg-danger {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #c12e2a;
    color: #ffffff;
}

.modal-header.bg-primary {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #2e6da4;
    color: #ffffff;
}
.modal-header > h4 {
    margin: 0;
    padding: 0;
}

.page-header {
    margin: 0;
    padding: 0 15px;
    background: #f5f5f5;
}

.page-header h1 {
    margin: 0;
}

.panel > .alert {
    border-radius: 0;
}

.navbar.navbar-fixed-top {
    border-bottom: solid 4px #ff9900; /* #2342ff; */
}

/* Validator overides */

.help-block, .help-block ul.list-unstyled {
    margin: 0;
    padding: 0;
}

.media-right {
    margin-right: 0 !important;
    padding-right: 0 !important;
}


/* Extensions */


.list-group-item.list-group-item-static:hover {
    background: none !important;
}

textarea {
    resize: vertical;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

body {
    background: #ffffff;
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    background: linear-gradient(135deg,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    background-attachment: fixed;
    background-size: cover;
    font-family: "Arimo", Arial, sans-serif !important;
}

.med-shadow {
    -webkit-box-shadow: 0 0 25px 0 rgba(15,15,15,.25);
    -moz-box-shadow: 0 0 25px 0 rgba(15,15,15,.25);
    box-shadow: 0 0 25px 0 rgba(15,15,15,.25);
}

.text-white {
    color: #ffffff !important;
}

.text-black {
    color: #000000 !important;
}

.no-margins {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0 !important;
}

.padding-025em {
    padding: .25em;
}

.margin-top {
    margin-top: 15px;
}

.bg-default {
    background: #dddddd;
}

textarea.vertical {
    resize: vertical;
}

/* Bootgrid overides */
.bootgrid-footer .search, .bootgrid-header .search {
    float: right;
    margin-right: 0;
}

.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
    border: solid 1px #dddddd;
    border-left: none !important;
    border-right: none !important;
}

.table thead tr th {
    background: #eeeeee;
    white-space: nowrap !important;
}

.table thead tr th:hover {
    background: #f6f6f6;
}

.bootgrid-table th > .column-header-anchor > .text {
    margin: 0 0 0 16px;
}

.bootgrid-table th > .column-header-anchor > .icon {
    left: 0;
    right: auto;
}

.bootgrid-header .search,.bootgrid-header .action {
    width: 50%;
}

.bootgrid-table tr td > .btn {
    opacity: .5;
}

.bootgrid-table tr:hover td > .btn {
    opacity: 1;
}

.bootgrid-table thead tr th,
.bootgrid-table tbody tr td,
.bootgrid-table thead tr th,
.bootgrid-table tbody tr td {
    width: 1% !important;
    white-space: nowrap !important;
}

.bootgrid-table thead tr th:nth-last-child(2),
.bootgrid-table tbody tr td:nth-last-child(2),
.bootgrid-table thead tr th:nth-last-child(2),
.bootgrid-table tbody tr td:nth-last-child(2) {
    width: auto !important;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: right;
}

.bootstrap-select.btn-group .btn .caret {
    right: auto !important;
    left: 12px !important;
}